<div class="drinkList">
{{#each arr1}}
<div class="card" style="width: 18rem;">
    <img src={{this.strDrinkThumb}} class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{this.strDrink}}</h5>
        <a href="#" class="btn btn-primary">Go to this cocktail</a>
    </div>
</div>
{{/each}}
</div>