<h1>{{title}}</h1>
<button id="btnName"  class="btn btn-outline-danger myBtn">Name</button>
<button id="btnbIng" class="btn btn-outline-danger  myBtn">By Ingridient</button>
<button id="btnRandom" class="btn btn-outline-danger myBtn">Random</button>

